<!-- <div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl 12">

            <div class="row g-3">

                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Source</th>
                        <th scope="col">Author</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let i of news.articles">
                      <tr>
                        <td>{{i.status}}</td>
                        <td>{{i.articles.source}}</td>
                        <td>{{i.source.title}}</td>
                        <td>{{i.source.author}}</td>
                        <td>{{i.source.author}}</td>
                        
                      </tr>
                    </tbody>
                  </table>

        </div>
    </div>  -->
    <div class="container">
      <div class="row">
          <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
  
              <div class="row g-3">
  
                  <div *ngFor="let i of news.articles" class="col col-12 col-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                      <div class="card h-200" >
                          <img width="300px" height ="300px" src="{{i.urlToimage}}" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Title :{{i.title}}</h5>
                            <p class="card-text" >Description : {{i.description}}</p>

                          </div>
                      </div>
                  </div>
              </div>
  
          </div>
      </div>
  </div>